<div class="container-fluid" ng-controller="ProgramListCtrl as ctrl">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="programs"></input>
      Sort by:
      <select ng-model="ctrl.programs">
        <option value="programName">Alphabetical</option>
        <option value="programCode">Newest</option>
      </select>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="phones">
        <li ng-repeat="prog in ctrl.programs | filter:programs | orderBy:prog.orderProp"
            class="thumbnail phone-listing">          
         {{prog.program}} - {{prog.programName}}
          <p>{{prog.description}}</p>
		  <ul>
			<li ng-repeat="cohort in prog.cohorts">
				 <a href="#/programs/{{prog.programCode}}_{{cohort.cohortID}}.json">{{cohort.cohortID}} - {{cohort.cohortName}}</a>
			</li>
		  </ul>
        </li>
      </ul>

    </div>
  </div>
</div>
